@{
    ViewData["Title"] = "Registration";
}

<h2>Registration</h2>

<div class="alert alert-success">
    @ViewBag.Message
</div>

<a class="btn btn-outline-primary" asp-controller="Auth" asp-action="Login">Go to Login</a>
